.container {
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-2  {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}

.col-3 {
    flex:30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    text-align: center;
}

.col-4:hover {
    transform: translateY(-5px);
}

.col-4 img {
    width: 100%;
}

.col-4 p{
    font-size:14px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row-2 {
    justify-content: space-between;
    margin:100px auto 50px;
}

.footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2 {
    flex:1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

.active {
    color:#ff523b;
}

.btn {
    display: inline-block;
    background-color: #ff523b;
    color:white;
    padding: 8px 30px;
    margin:30px 0px;
    border-radius: 30px;
    transition: background .5s;
}

.btn:hover {
    background: #563434;
}

.btn-small {
    padding: 8px 10px;
    border-radius:5px;
}

.small-container {
    max-width: 1080px;
    margin:auto;
    padding-left:25px;
    padding-right: 25px;
}

.indicator {
    width: 100px;
    border:none;
    background-color: #ff523b;
    height: 3px;
    margin-top:8px;
    transform: translateX(100px);
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}

.title::after {
    content:"";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
}

.page-not-found {
    height: 60vh;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-not-found-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.bg-active {
    background-color: #ff523b;
    color:white;
}

.group {
    margin: 25px;
}

.text-error {
    color:red;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    background-color: #ff523b;
    border-color: #ff523b;
    color:white !important;
}

.alert-danger p {
    color:white;
}

