.account-page {
    background: radial-gradient(#fff,#ffd6d6);
    padding: 50px;
}

.form-container {
    background-color: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}

.height-register {
    height: 500px !important;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color:#555;
    width: 100px;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top:80px;
}



form .btn {
    width: 100%;
    border:none;
    cursor: pointer;
}

form .btn:focus{
    outline:none;
}
